

    {{>head}} 
    {{>navbar}} 


    <div class="row">
        <div class="col-8">
            <h1>este es el About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro inventore excepturi itaque quidem sint obcaecati nihil veniam? Ratione facere labore accusamus reiciendis laborum, molestias, illum aperiam voluptatem, beatae voluptate ipsa.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/about-me-leon-severan-we-buy-houses.jpg" alt="..." class="img-thumbnail">
        </div>

    </div>

    
    {{>footer}} 